<html>
    <head>

    </head>
    <body>
        <!-- this does have footer here -->
        <!-- need to add this file into your ejs files -->
        <!-- do not create html head and body tags -->

    <div>
        
    </div>